<li class="list-group-item d-flex justify-content-between align-items-center">
  <div>
    <%= link_to bookmark.movie, bookmark.movie %>
    <small class="text-muted">
      <%= time_ago_in_words(bookmark.updated_at) %> ago
    </small>
  </div>

  <div>
  <%= link_to bookmark, method: :delete, data: { confirm: "Do you really want to delete this bookmark?" }, class: "" do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
  </div>
</li>


