<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Cast
  </div>

  <ul class="list-group list-group-flush">
    <% @movie.cast.each do |actor| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <div>
          <a href="/actors/<%= actor.id %>">
            <%= actor %>
          </a>
        </div>
        <span class="text-muted"><%= Character.find_by(actor: actor, movie: @movie).name %></span>

      </li>
    <% end %>

  </ul>
</div>
